<footer class="page-footer black light">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text light">Director or Team Bio</h5>
      <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dictum condimentum magna, vel pellentesque libero mattis a. Nulla elit dolor, euismod vitae convallis et, consectetur non diam. Morbi sit amet ligula magna. Pellentesque vulputate, erat eu feugiat egestas, </p>
    </div>
  </div>
  <!--<div class="row">
    <div class="col l8 offset-l2">
      <img src="img/laurels_aim2.jpg" alt="Africa in Motion Laurels">
      <img src="img/laurels_denton2.jpg" alt="">
      <img src="img/laurels_diff2.png" alt="">
      <img src="img/laurels_herafrica2.jpg" alt="">
      <img src="img/laurels_joburg2.jpg" alt="">
      <img src="img/laurels_ndiff2.jpg" alt="">
      <img src="img/laurels_sankofa3.png" alt="">
      <img src="img/laurels_shorts2.jpg" alt="">
      <img src="img/laurels_wimn2.jpg" alt="">
    </div>
      <div class="col l6 s12">
        <div class="col l3 s12">
          <img class="img_box" src="img/laurels_herafrica2.png" alt="Her Africa Laurels">
        </div>
        <div class="col l3 s12">
          <img class="img_box" src="img/laurels_aim2.jpg" alt="Africa in Motion Laurels">
        </div>
        <div class="col l3 s12 white">
          <img class="img_box" src="img/laurels_diff2.png" alt="Durban Internation Film Festival Laurels">
        </div>
        <div class="col l3 s12">
          <img class="img_box" src="img/laurels_shorts2.jpg" alt="Best Shorts Laurels">
        </div>
        <div class="col l3 s12">
          <img class="img_box" src="img/laurels_wimn2.jpg" alt="Women in Media Newark Laurels">
        </div>
      </div>
  </div>-->
</div>
<div class="footer-copyright">
  <div class="container">
  Made by <a class="brown-text text-lighten-3" href="http://www.mobisynco.com">Mobisynco</a>
  </div>
</div>
</footer>
