<footer class="page-footer black light">
<hr>
<div class="container">
  <div class="row">
    <div class="col l6 s6">
      <h5 class="white-text light">Director or Team Bio</h5>
      <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dictum condimentum magna, vel pellentesque libero mattis a. Nulla elit dolor, euismod vitae convallis et, consectetur non diam. Morbi sit amet ligula magna. Pellentesque vulputate, erat eu feugiat egestas, </p>
    </div>
    <div class=" col l3 s3">
        <h5 class="white-text light">Optional Items</h5>
        <ul class="browser-default">
            <li class="white-text light">Item 1</li>
            <li class="white-text light">Item 2</li>
            <li class="white-text light">Item 3</li>
            <li class="white-text light">Item 4</li>
        </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  Made by <a class="brown-text text-lighten-3" href="http://www.mobisynco.com">Mobisynco</a>
  </div>
</div>
</footer>
