<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content black">
  <li><a class="white-text" href="/director_statement">Director's Statement</a></li>
  <li><a class="white-text" href="/synopsis">Plot Synopsis</a></li>
</ul>
<nav class="black" role="navigation">
<div class="nav-wrapper container">
  <a id="logo-container" href="/" class="brand-logo">Cream</a>
  <ul class="right hide-on-med-and-down">
    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">About<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a href="#">Cast & Crew</a></li>
    <li><a href="#">Previous Work</a></li>
  </ul>

  <ul id="nav-mobile" class="side-nav">
    <li><a href="#">About</a></li>
    <li><a href="#">Cast & Crew</a></li>
    <li><a href="#">Previous Work</a></li>
  </ul>
  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
</div>
</nav>
<div class="divider"></div>
