<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <!--========================================================
                          HEADER
=========================================================-->
    <header id="header">
        <% include ../partials/header %>
    </header>

    <!--========================================================
                          CONTENT
=========================================================-->
    



    
<!--========================================================
                          SCRIPTs
=========================================================-->
    <% include ../partials/scripts %>
    <!--========================================================
                          FOOTER
=========================================================-->
    <footer id="footer">
        <% include ../partials/footer %>
    </footer>

    <script src="js/script.js"></script>
</body>

</html>