<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>
        <%= title %>
    </title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="bower_components/materialize/dist/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/Materialize/dist/js/materialize.js"></script>
</head>

<body class="black white-text">
    <!-- HEADER -->
    <% include ../partials/navbar %>

        <!-- CONTENT -->
        <main>
            <div class="container">
                <div class="section">
                    <h5 class="light">RODRIGO ZAN</h5>
                    <div class="row">
                        <div class="col s5 m5">
                            <br>
                            <img class="img_box" src="<%= rodrigo_pic2 %>" alt="Rodrigo Zan">
                        </div>
                        <div class="col s6 m6">
                            <p class="light">
                                Rodrigo Zan was born in São Paulo, Brazil, and since his early ages his passion for music, poetry, nature, new medias and mystery took him to many trips and journeys.  He has degrees in Multimedia from PUC-SP - focus and extended research in New Media.
                                Complemented studies with 3 years of courses in Art in Advertising and 2 years of Photography at Panamericana School of Arts and Master in Fine Arts in the New York Film Academy.
                            </p>
                            <p class="light">
                                During the beginning of his career his developed the First Digital Library in Brazil Neoreader, launched in 2007 for the market and recognized for be one of the most innovate projects in 2008 for a important magazine in Brazil “Isto é Dinheiro”, and Pequenas
                                Empresas & Grandes Negócios”. After many years working in the digital market, he had a turning point in his career when he sold his company, and moved to LA  to fallow his biggest passion, making films, and there connect with
                                the freedom to express his true self and enlighten the occult potential that he kept hidden during those years.  His photographs and work are a cinematic reflection of life, his perspectives about the experience of his soul
                                in this vessel that we call body. The necessity to unleash himself from the institutionalization of the mind reflects the freedom that drives him to different ways to express his feelings and thoughts. Fallowing the flow of
                                the energy that inspires him, the mechanism, writing, directing, photographing are only ways to express the same thing, the perspective. He directed 3 short films already, “Moments”, “Blue Bird”, “Seeking the Joy”, and now
                                working his first feature film.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- FOOTER -->
        <% include ../partials/footer %>

            <!-- SCRIPTS -->
            <script type="text/javascript">
                $(document).ready(function() {
                    $('.carousel.carousel-slider').carousel({
                        full_width: true
                    });
                });
            </script>
</body>

</html>
