<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>
        <%= title %>
    </title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="bower_components/materialize/dist/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/Materialize/dist/js/materialize.js"></script>
</head>

<body class="black white-text">
    <!-- HEADER -->
    <% include ../partials/navbar %>

        <!-- CONTENT -->
        <main>
            <div class="container">
                <div class="section">
                    <h5 class="light">PALESA LEBONA</h5>
                    <div class="row">
                        <div class="col s5 m5">
                            <br>
                            <img class="img_box" src="<%= palesa_pic3 %>" alt="Palesa Lebona">
                        </div>
                        <div class="col s6 m6">
                            <p class="light">
                                Palesa Lebona is a MFA Filmmaker born and raised in South Africa, based in Los Angeles.Fascinated by cartoons and the bed time stories her parents would read to her as a child and how the world operates, she developed a flair for telling stories and watching
                                and listening to stories via radio, TV and the big screen.
                            </p>
                            <p class="light">
                                This led to her pursuing degrees in B.Comm Marketing Management and B.Comm Logistics Management Honors; which then followed to working in corporate within the fields of Banking , Marketing and Project Management for 5 years. She then left the corporate
                                world to pursue her true passion ,storytelling ,in the form of MFA Filmmaking , where she graduated with honors from the New York Film Academy. During her 2 -Year Masters degree she has worked on over 20 productions which
                                include short films ,commercials, music videos and feature films. Her degrees and work experience have equipped her with both the knowledge and the skills in production and corporate to work with other individuals and businesses
                                to create fresh original content which can be both creative and meet budgetary expectations and deliverables.
                            </p>
                            <p class="light">
                                As an African and South African Director/Producer/Writer, she aims to provoke thought and drive dialogue about human issues that are ignored and overlooked , and to transform the of landscape Film and Media in Africa into one which not only tells the
                                stories of its people but is also profitable.
                            </p>
                            <p class="light">
                                She is currently working in the US freelancing on various productions , as well developing a series and various cartoons which she hopes to license in the near future.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>


        <!-- FOOTER -->
        <% include ../partials/footer %>

            <!-- SCRIPTS -->
            <script type="text/javascript">
                $(document).ready(function() {
                    $('.carousel.carousel-slider').carousel({
                        full_width: true
                    });
                });
            </script>
</body>

</html>
