<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>
        <%= title %>
    </title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="bower_components/materialize/dist/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/Materialize/dist/js/materialize.js"></script>
</head>

<body class="black white-text">
    <!-- HEADER -->
    <% include ../partials/navbar %>


        <!-- CONTENT -->
        <div class="container">
            <div class="section">
                <br>
                <h5 class="light">PRESS & AWARDS</h5>
                <br>
                <div class="card">
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width black">
                            <li class="tab"><a class="active teal-text" href="#press">Press</a></li>
                            <li class="tab"><a class="teal-text" href="#awards">Awards</a></li>
                            <li class="tab"><a class="teal-text" href="#festivals">Festivals</a></li>
                        </ul>
                    </div>
                    <div class="card-content black">
                        <div id="press">
                            <br>
                            <h5 class="center light">PRESS</h5>
                            <br>
                            <div class="row">
                                <p class="line-height light">
                                    With themes which resonates with people all across like world such as identity, colorism, race etc.. Cream continues to generate interest and buzz within the world of media:
                                </p>
                            </div>
                            <div class="row">
                                <h6 class="light">Video interview by CCTV</h6>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/sqU6hVKwWJk" frameborder="0" allowfullscreen></iframe>
                                <br>
                            </div>
                            <div class="row">
                                <h6 class="light">Facebook Profile piece at the Her Africa Film Festival</h6>
                                <iframe src="https://web.facebook.com/plugins/post.php?href=https%3A%2F%2Fweb.facebook.com%2Fherafricafilmfestival%2Fposts%2F1083412685109703&width=500" width="500" height="703" style="border:none;overflow:hidden;background-color: white;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                                <br>
                            </div>
                            <div class="row">
                                <br>
                                <h6 class="light"><a href="http://sfbayview.com/2017/05/colorism-in-the-black-community-is-the-subject-of-sf-black-film-fest-selected-film-cream/">Article from the San Francisco Bay Newspaper</a></h6>
                            </div>
                        </div>
                        <div id="awards">
                            <br>
                            <h5 class="header center light">Awards</h5>
                            <br>
                            <div class="row">
                                <div class="col s4 m4">
                                    <br />
                                    <img class="img_box" src="<%= award_pic %>" alt="Award">
                                </div>
                                <div class="col s6 m6">
                                    <br>
                                    <p class="light">
                                        With 4 Awards under its belt from 17 film festivals across the globe, Cream’s continues to take the world by storm. These awards include:
                                        <ul class="browser-default">
                                            <li>
                                                <em>Best Shorts Film Festival</em>, USA - California (2016) Winner: Award of Excellence- Women Filmmakers (Student)
                                            </li>
                                            <li>
                                                <em>Denton Black Film Festival</em>, USA – Texas (2017) Runner Up: College Shorts over 10 minutes
                                            </li>
                                            <li>
                                                <em>Houston Black Film Festival</em>, USA – Texas (2017) Winner: Student Shorts
                                            </li>
                                            <li>
                                                <em>The Accolade Global Film Competition</em>, USA - California (2017) Winner: Award of Excellence - Women Filmmakers
                                            </li>
                                        </ul>
                                    </p>
                                    <p class="light">
                                        <a href="/festivals" class="teal-text">Click here for list of film festivals</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="festivals">
                            <div class="row">
                                <div class="col s8">
                                    <h5 class="light">LIST OF FESTIVALS</h5>
                                    <ol>
                                        <li>
                                            <em>Best Shorts Film Festival</em>, USA - California (2016) Winner: Award of Excellence- Women Filmmakers (Student)
                                        </li>
                                        <li>
                                            <em>Denton Black Film Festival</em>, USA – Texas (2017) Runner Up: College Shorts over 10 minutes
                                        </li>
                                        <li>
                                            <em>Houston Black Film Festival</em>, USA – Texas (2017) Winner: Student Shorts
                                        </li>
                                        <li>
                                            <em>The Accolade Global Film Competition</em>, USA - California (2017) Winner: Award of Excellence - Women Filmmakers
                                        </li>
                                        <li>
                                            <em>The Durvan Internation Film Festival</em>, South Africa
                                        </li>
                                        <li>
                                            <em>Sankofa Film Festival</em>, USA - Minnesota
                                        </li>
                                        <li>
                                            <em>Her Film Festival</em>, South Africa
                                        </li>
                                        <li>
                                            <em>Nile's Diaspora Internation Film Festival</em>, Uganda
                                        </li>
                                        <li>
                                            <em>The Joburg Film Festival</em>, South Africa
                                        </li>
                                        <li>
                                            <em>Africa in Motion Film Festival</em>, Scotland
                                        </li>
                                        <li>
                                            <em>Rapid Lion Film Festival</em>, South Africa
                                        </li>
                                        <li>
                                            <em>Charlotte Black Film Festival</em>, USA - North Carolina
                                        </li>
                                        <li>
                                            <em>"Women in the World" Women's History Month Festival</em>, USA - New Jersey
                                        </li>
                                        <li>
                                            <em>Los Angeles Women's Internation Film Festival</em>, USA - California
                                        </li>
                                        <li>
                                            <em>The People's Film Festival</em>, USA - New York
                                        </li>
                                        <li>
                                            <em>The Zanzibar Internation Film Festival</em>, Tanzania
                                        </li>
                                        <li>
                                            <em>The San Francisco Black Film Festival</em>, USA - San Francisco
                                        </li>
                                    </ol>
                                </div>
                                <div class="col s4">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <!-- FOOTER -->
        <% include ../partials/footer %>

            <!-- SCRIPTS -->
            <script type="text/javascript">
                $(document).ready(function() {
                    $('ul.tabs').tabs();
                });
                $(document).ready(function() {
                    $('ul.tabs').tabs('select_tab', 'tab_id');
                });
            </script>
</body>

</html>
